<p id="notice"><%= notice %></p>
<% @pins.each do |pin| %>
      <tr>
        <td><%= link_to image_tag(pin.image.url(:medium)), pin%></td><br/>
        <td><%= pin.description %></td><br/>
        
        <%if pin.user == current_user%>
        <td><%= link_to 'Edit', edit_pin_path(pin) %></td><br/>
        <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td><br/>
        <%end%>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pin', new_pin_path %>

